Ai Email Assistant (Personal Project).json
{
  "name": "Ai Email Assistant (Personal Project)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "readStatus": "unread"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        64,
        0
      ],
      "id": "ad9b74c9-3583-4bf3-8444-3ba1911aa3de",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "oKlHEJMJq9jCXJFm",
          "name": "Gmail account 7"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        16,
        208
      ],
      "id": "b0901aba-2e40-47a1-b924-c170f863277b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "uE56hEDOqtyx7HfA",
          "name": "Keith OpenAi"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate email for {{ $json.From }}, responding with respect, openess and professionalism to this message \"{{ $json.snippet }}\", using the tool Create a draft in Gmail",
        "options": {
          "systemMessage": "=You are an email assistant, you will reply according to the message \"{{ $json.snippet }}\", with respect and professionalism. You will draft an appropriate email response using the tool Gmail Node \"Create a draft in Gmail\"."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        352,
        0
      ],
      "id": "b63c9f8b-6d31-40bb-b746-7c53d6df903c",
      "name": "Email Assistant"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $json.threadId }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "replyToSenderOnly": true
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        416,
        224
      ],
      "id": "ac6d627d-643f-477c-a971-c0ff4971e260",
      "name": "Reply to a message in Gmail",
      "webhookId": "cbedcb72-7b37-416b-ad16-ec664efb5b2a",
      "credentials": {
        "gmailOAuth2": {
          "id": "oKlHEJMJq9jCXJFm",
          "name": "Gmail account 7"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=Re: {{ $json.Subject }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "replyTo": "={{ $json.From }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        544,
        224
      ],
      "id": "50450e67-b897-48f2-a44b-f95dce6d7077",
      "name": "Create a draft in Gmail",
      "webhookId": "e621926a-7d30-4a69-ada8-feb2d2134543",
      "credentials": {
        "gmailOAuth2": {
          "id": "oKlHEJMJq9jCXJFm",
          "name": "Gmail account 7"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        224,
        208
      ],
      "id": "8b9c5fc2-9b73-4ac7-b13f-9e0d3a258d2a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "40ZItJStVP2zzj1q",
          "name": "iamkeithaustria23"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Email Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Reply to a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Email Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Email Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Email Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a7560d1a-6e54-4c8e-9f38-c46cf80712ff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "52832324e7f71d85e8b160585e711ea3348b5b786eac9005fa80018f141322cf"
  },
  "id": "Smlb0KUgZRMpJ6KN",
  "tags": []
}